.header {
  width: 100%;
  position: relative;
  .logo {
    margin-left: -15px;
  }
  .headerBottom {
    width: 100%;
    height: 88px;
    .container {
      .row {
        align-items: center;
        justify-content: space-between;
        column-gap: 20px;
        .navList {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 70px;
          .navLinkItem {
            color: #fff;
            font-size: 14px;
            font-weight: 700;
            line-height: 16.94px;
            text-align: left;
          }
        }
        .navLeft {
          display: flex;
          align-items: center;
          gap: 55px;
        }
      }
    }
  }
  .mobile-header {
    display: none;
  }
  .menu-control {
    display: none;
    .fa-solid {
      color: #fff;
      font-size: 28px;
    }
  }
  @media (max-width: 993px) {
    .headerBottom {
      .container {
        .row {
          width: 100%;
          justify-content: space-between;
          .navList {
            display: none;
          }
        }
      }
    }
    .menu-control {
      display: block;
    }
    .mobile-header {
      width: 100%;
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      background: linear-gradient(90deg, #587abc 9%, #01c3cd 86%);
      height: 100vh;
      .top {
        border-bottom: 0.5px solid #bebebe9a;
        padding: 14px 0;
        .top-content {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          column-gap: 20px;

          .navLeft {
            position: relative;
            display: flex;
            align-items: center;
            gap: 55px;
          }
        }
      }
      .lists {
        margin-top: 40px;
        .navList {
          display: flex;
          flex-direction: column;
          row-gap: 10px;
          .navLinkItem {
            color: #fff;
            font-size: 24px;
            font-weight: 700;
            text-align: left;
          }
        }
      }
    }
  }
  @media (max-width: 576px) {
    .logo {
      img {
        width: 120px;
      }
    }
    .menu-control{
      .fa-solid{
        font-size: 18px;
      }
    }
  }
}
